In [58]:
import moz_sql_parser
import json
import math

def isColExist(col, tabs, datatable):
	if col == '*':
		return True
	if '.' in col:
		datas = col.split('.')
		return datas[1] in datatable[datas[0]]['tabel']
	try:
		if tabs.__class__.__name__ == 'list':
			for tab in tabs:
				if col in datatable[tab]['tabel']:
					return True
		else:
			return col in datatable[tabs]['tabel']
	except:
		return False
	return False

def readFile(name):
	with open(name) as json_file:
		return json.load(json_file)


def parse(query):
	try:
		sql = moz_sql_parser.parse(query)
	except:
		return 'Syntax error'
	cols = []
	tabs = []
	joins = []
	res = {}

	data = readFile('data-dictionary.json')
	keys = list(data.keys())[2:]
	vals = list(data.values())[2:]
	data = {}
	for i in range(0, len(keys)):
		data[keys[i]] = vals[i]

	if sql['select'].__class__.__name__ == 'list':
		for col in sql['select']:
			if 'value' in col:
				cols.append(col['value'])
			else:
				cols.append(col)
	elif sql['select'].__class__.__name__ == 'str':
		cols = sql['select']
	else:
		cols = sql['select']['value']
	res['columns'] = cols

	if sql['from'].__class__.__name__ == 'list':
		for tab in sql['from']:
			if 'join' in tab:
				tabs.append(tab['join'])
				joins.append({'table' : tab['join'], 'using' : tab['using']})
			else:
				tabs.append(tab)
	else:
		tabs = sql['from']

	res['tables'] = tabs
	res['joins'] = joins

	if cols.__class__.__name__ == 'list':
		for col in cols:
			if not isColExist(col, tabs, data):
				return 'Unknown column '+ col
	else:
		if not isColExist(cols, tabs, data):
			return 'Unknown column '+ cols

	condition = ''
	if 'where' in sql:
		if 'eq' in sql['where']:
			if sql['where']['eq'][1].__class__.__name__ == 'dict':
				condition = sql['where']['eq'][0] + ' = \'' + sql['where']['eq'][1]['literal'] + '\''
			else:
				condition = str(sql['where']['eq'][0]) + ' = ' + str(sql['where']['eq'][1])
		elif 'gt' in sql['where']:
			if sql['where']['gt'][1].__class__.__name__ == 'dict':
				condition = sql['where']['gt'][0] + ' > \'' + sql['where']['gt'][1]['literal'] + '\''
			else:
				condition = str(sql['where']['gt'][0]) + ' > ' + str(sql['where']['gt'][1])
		elif 'gte' in sql['where']:
			if sql['where']['gte'][1].__class__.__name__ == 'dict':
				condition = sql['where']['gte'][0] + ' >= \'' + sql['where']['gte'][1]['literal'] + '\''
			else:
				condition = str(sql['where']['gte'][0]) + ' >= ' + str(sql['where']['gte'][1])
		elif 'lt' in sql['where']:
			if sql['where']['lt'][1].__class__.__name__ == 'dict':
				condition = sql['where']['lt'][0] + ' < \'' + sql['where']['lt'][1]['literal'] + '\''
			else:
				condition = str(sql['where']['lt'][0]) + ' < ' + str(sql['where']['lt'][1])
		elif 'lte' in sql['where']:
			if sql['where']['lte'][1].__class__.__name__ == 'dict':
				condition = sql['where']['lte'][0] + ' <= \'' + sql['where']['lte'][1]['literal'] + '\''
			else:
				condition = str(sql['where']['lte'][0]) + ' <= ' + str(sql['where']['lte'][1])
		else:
			if sql['where']['neq'][1].__class__.__name__ == 'dict':
				condition = sql['where']['neq'][0] + ' <> \'' + sql['where']['neq'][1]['literal'] + '\''
			else:
				condition = str(sql['where']['neq'][0]) + ' <> ' + str(sql['where']['neq'][1])
	res['conditions'] = condition
	return res

print(parse('select no_ktp from fasilitas;'))

Unknown column no_ktp

In [59]:
def joinAr(obj):
	data = readFile('data-dictionary.json')
	ars = []
	ars.append([])
	projection = {'cols' : obj['columns'], 'algo': 'on the fly'}
	join = []
	bfrs = {}
	blocks = {}
	for tab in obj['tables']:
		bfrs[tab] = math.ceil(data['b']/data[tab]['r'])
		blocks[tab] = math.ceil(data[tab]['n']/bfrs[tab])
	join.append({
		'condition': obj['tables'][0]+'.'+obj['joins'][0]['using']+' = '+obj['tables'][1]+'.'+obj['joins'][0]['using'],
		'algo' : 'BNLJ',
		'tables': obj['tables'],
		'cost' : (blocks[obj['tables'][0]]*blocks[obj['tables'][1]])+blocks[obj['tables'][0]]
	})
	join.append({
		'condition': obj['tables'][1]+'.'+obj['joins'][0]['using']+' = '+obj['tables'][0]+'.'+obj['joins'][0]['using'],
		'algo' : 'BNLJ',
		'tables': [obj['tables'][1], obj['tables'][0]],
		'cost' : (blocks[obj['tables'][1]]*blocks[obj['tables'][0]])+blocks[obj['tables'][1]]
	})

	x = 1
	for j in join:
		print('QEP #'+str(x))
		print('PROJECTION', projection['cols'][0], '--', projection['algo'])
		for i in j['tables'][0]:
			print(' ', end='')
		print(j['condition'], '-- BNLJ')
		print(j['tables'][0],'    ', j['tables'][1])
		print('Cost (worst case):', j['cost'])
		print()
		x += 1

	print('QEP Optimal:', min(join[0]['cost'], join[1]['cost']))
	if join[0]['cost'] < join[1]['cost']:
		return {
			'projection' : projection['cols'][0] + ' --' + projection['algo'],
			'join' : '     ' + join[0]['condition']+ '-- BNLJ',
			'tables' : join[0]['tables'][0]+'    '+ join[1]['tables'][1],
			'cost' : join[1]['cost']
		}
	else:
		return {
			'projection' : projection['cols'][0] + ' --' + projection['algo'],
			'join' : '     ' + join[1]['condition']+ '-- BNLJ',
			'tables' : join[1]['tables'][0]+'    '+ join[1]['tables'][1],
			'cost' : join[1]['cost']
		}

In [159]:
#q = parse('select no_ktp, tgl_dirawat from pegawai join dirawat using no_ktp;')
q = parse('select gender, no_ktp from pegawai where no_ktp = 1;')
# if(q['conditions']==""):
#     print('a')
# else:
print(q)

{'columns': ['gender', 'no_ktp'], 'tables': 'pegawai', 'joins': [], 'conditions': 'no_ktp = 1'}

In [153]:
def tes():
    return {
        'projection' : '',
        'join' : '',
        'tables' : '',
        'cost' : '5',
        'query' : 'hhhjaj iayyshyahha'
    }
data = readFile('shared-pool.json')

data_saved = tes()
data.append(data_saved)
print(data)
# data.append('data_saved')
# data.append({'hiii' : 4})
# data.append({'hiii' : 5})
#next(item for item in data if item["cost"] == 'hai')
# v = '5'
# if(print(list(filter(lambda person: person['cost'] == v, data)))):
#     print('b')
# else:
#     print('a')
# # print(data)

with open('shared-pool.json', 'w') as outfile:  
    json.dump(data, outfile)

[{'projection': '', 'join': '', 'tables': '', 'cost': '5', 'query': 'hhhjaj iayyshyahha'}, {'projection': '', 'join': '', 'tables': '', 'cost': '5', 'query': 'hhhjaj iayyshyahha'}]

In [73]:
def saveSharedPool(query, parse):
    if join in query:
        data_saved = joinAr(parse)
    else:
        data_saved = whereAr(parse)
        
    data_saved['query'] = query
    data = readFile('data-dictionary.json')
    data.append(data_saved)
    
    with open('shared-pool.json', 'w') as outfile:  
        json.dump(data, outfile)
        
def checkSharedPool(query):
    data_r = readFile('data-dictionary.json')
    print(list(filter(lambda qry: qry['cost'] == query, data_r)))